<?xml version="1.0" encoding="UTF-8"?>
<beans:beans xmlns:int="http://www.springframework.org/schema/integration"
             xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
             xmlns:beans="http://www.springframework.org/schema/beans"
             xmlns:context="http://www.springframework.org/schema/context"
             xmlns:int-xml="http://www.springframework.org/schema/integration/xml"
             xmlns:int-file="http://www.springframework.org/schema/integration/file"

        xsi:schemaLocation="http://www.springframework.org/schema/beans
		https://www.springframework.org/schema/beans/spring-beans.xsd
		http://www.springframework.org/schema/context
		https://www.springframework.org/schema/context/spring-context.xsd
		http://www.springframework.org/schema/integration
		https://www.springframework.org/schema/integration/spring-integration.xsd
        http://www.springframework.org/schema/integration/xml
        http://www.springframework.org/schema/integration/xml/spring-integration-xml.xsd
        http://www.springframework.org/schema/integration/file
        https://www.springframework.org/schema/integration/file/spring-integration-file.xsd">

    <context:annotation-config />

    <beans:bean id="envConsumer" class="java.util.Hashtable">
        <beans:constructor-arg>
            <beans:map key-type="java.lang.Object" value-type="java.lang.String">
                <beans:entry key="java.naming.factory.initial" value="com.solacesystems.jndi.SolJNDIInitialContextFactory"/>
                <beans:entry key="java.naming.provider.url" value="${solace.jms.consumer.host}"/>
                <beans:entry key="Solace_JMS_VPN" value="${solace.jms.consumer.msg-vpn}"/>
                <beans:entry key="java.naming.security.principal" value="${solace.jms.consumer.client-username}"/>
                <beans:entry key="java.naming.security.credentials" value="#{environment['solace.jms.consumer.client-password']}"/>
            </beans:map>
        </beans:constructor-arg>
    </beans:bean>

    <int:gateway id="msgConsumerGateway"
                 service-interface="com.solace.swim.config.ISCDSConsumer"
                 default-request-channel="msg.scds.service" />

    <int:channel id="msg.dlq">
        <int:interceptors>
            <int:wire-tap channel="dlq-logging" />
        </int:interceptors>
    </int:channel>

    <int:channel id="msg.scds.service.publishing" />

    <int:channel id="errorChannel">
        <int:queue capacity="100"/>
    </int:channel>

    <int:logging-channel-adapter id="dlq-logging" expression="'Message '.concat(headers.get('jms_messageId')).concat(' has been discarded.')" level="INFO"/>

    <int:publish-subscribe-channel id="msg.scds.service" task-executor="taskExecutor"/>

    <beans:bean id="taskExecutor" class="org.springframework.scheduling.concurrent.ThreadPoolTaskExecutor">
        <beans:property name="corePoolSize" value="1" />
        <beans:property name="maxPoolSize" value="${service.max-thread-count}" />
        <beans:property name="queueCapacity" value="100" />
        <beans:property name="rejectedExecutionHandler" ref="blockCallerExecutionPolicy" />
    </beans:bean>

    <beans:bean id="blockCallerExecutionPolicy" class="com.solace.swim.util.BlockCallerExecutionPolicy" />

</beans:beans>