<?xml version="1.0" encoding="UTF-8"?>
<configuration>

    <property name="basePath" value="log/"/>

    <appender name="eventLogger" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <file>${basePath}/system-${spring.profiles.active}.log</file>

        <rollingPolicy class="ch.qos.logback.core.rolling.SizeAndTimeBasedRollingPolicy">
            <fileNamePattern>${basePath}/archived/system-${spring.profiles.active}-%d{yyyy-MM-dd-HH}.log.%i</fileNamePattern>
            <!-- each archived file, size max 10MB -->
            <maxFileSize>10MB</maxFileSize>
            <!-- total size of all archive files, if total size > 1GB,
				it will delete old archived file -->
            <totalSizeCap>1GB</totalSizeCap>
            <!-- Hours to keep -->
            <maxHistory>1</maxHistory>
            <cleanHistoryOnStart>true</cleanHistoryOnStart>
        </rollingPolicy>

        <encoder>
            <pattern>%d %p %c{1} [%t] %msg%n</pattern>
        </encoder>
    </appender>

    <appender name="hourlyRolloverLogger" class="ch.qos.logback.core.rolling.RollingFileAppender" >
       <file>${basePath}/messages-${spring.profiles.active}.log</file>
        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <fileNamePattern>${basePath}/messages-${spring.profiles.active}.%d{yyyy-MM-dd_HH, UTC}Z.zip</fileNamePattern>
        </rollingPolicy>
        <param name="Append" value="false" />
        <encoder>
            <pattern>%msg%n</pattern>
        </encoder>
    </appender>

    <appender name="console" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>%d{yyyy-MM-dd HH:mm:ss} - %logger{36} - %msg%n</pattern>
        </encoder>
    </appender>

    <logger name="com.solace.swim.service.logging.MessageLoggingService" level="INFO" additivity="false">
        <appender-ref ref="hourlyRolloverLogger" />
    </logger>

    <root level="INFO">
        <appender-ref ref="console"/>
        <appender-ref ref="eventLogger"/>
    </root>

</configuration>